@import '../../assets/scss/typography.scss' ;

section{

    h1{
        font-size: 36px;
        font-family: $open-sans;
        text-transform: uppercase;
        text-align: center;
    }

    .products-container{
        // probabil il fac grid pentru mobile :) 
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
}
